{% block layout_head_inner %}
<head>
    {% block layout_head_meta_tags_charset %}
        <meta charset="utf-8">
    {% endblock %}

    {% block layout_head_title %}
        <title>Symfony5 Forum Beethoven</title>
    {% endblock %}

    {% block layout_head_stylesheet %}
        <link href="{{ asset('bundles/frontend/css/style.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
{% endblock %}